/* carter-one-regular - latin */
@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/carter-one-v17-latin-regular.eot');
  src: url('../fonts/carter-one-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/carter-one-v17-latin-regular.woff2') format('woff2'),
  url('../fonts/carter-one-v17-latin-regular.woff') format('woff'),
  url('../fonts/carter-one-v17-latin-regular.ttf') format('truetype');
}


body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  font-family: "Carter One";
}

.currencysite-container{
  padding: 0 5px;
}

.enter__btn--wrapper{
  flex-direction: column;
}

.enter{
  background-color: #ffffff95;
  height: 100vh;
}

.enter__heading{
  color: #0E4C92;
  font-size: 70px;
  margin-bottom: 30px;
}

.enter__link{
  border-radius: 5px;
  padding: 8px;
  background-color: #ffffff6b;
}

.enter__link:hover{
  background-color: #ffffffb8;
}

.enter__link:active{
  background-color: #ffffff;
}

.currency{
  margin: 0 auto;
  height: 100vh;
}

.currency__input{
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
}

.currency__title{
  margin: 0;
  padding: 0;
}

.currency__entering{
  margin: 0 auto;
  padding: 100px;
  border-radius: 10px;
  background-color: #ffffff6e;
}

.currency__result{
  margin: 0 auto;
  padding: 7px;
  text-align: center;
  max-width: 500px;
  /* width: 100%; */
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #32CD32;
}